<form
        class="recurring__form"
        [formGroup]="form"
        class="form form_autoh verify"
>
    <div class="form__cnt form__cnt_recurring">
        <div class="form__row form__row_mb">
            <mat-form-field
                    [floatLabel]="'never'"
                    class="rich-input rich-input_recurring"
                    [ngClass]="{ 'rich-input_small-height': size === 'small' }"
            >
                <input
                        autocomplete="off"
                        matInput
                        (focus)="removeZeroAmount()"
                        (input)="setAmount()"
                        placeholder="Enter Amount"
                        [textMask]="numberMask"
                        [formControlName]="'amount'"
                        [errorStateMatcher]="matcher"
                />
                <span class="rich-input__suffix" matSuffix>USD</span>
            </mat-form-field>
        </div>
    </div>
</form>
