<div class="docs">
    <div class="docs__item" *ngFor="let doc of attachedDocs">
        <img [src]="doc" alt="">
    </div>
</div>
<mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="{status: EStatusesSource.Active}" color="accent">Accept</button>
    <button mat-raised-button [mat-dialog-close]="{status: EStatusesSource.Declined}">Decline</button>
    <button mat-raised-button [mat-dialog-close]="{status: EStatusesSource.Deleted}">Delete</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
