:host {
  width: 100%;
}

.btn-cnt {
  max-width: 100%;
  width: 184px;
  margin-left: auto;
  margin-right: auto;
}

.owner {
  display: flex;
  justify-content: space-between;
  padding: 32px 42px 0;
  align-items: center;
  margin-bottom: 14px;
}

.chart-only__cnt {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .btn-cnt {
    width: 300px;
  }
  .chart-only__cnt {
    flex-direction: column;
    justify-content: center;
  }
}
