<div class="mobile-app">
    <!-- <div class="mobile-app__img">
      <img src="/assets/images/signup-bg.png" alt="Skraps">
    </div> -->
    <!--<div class="mobile-app__btn-cnt">-->
    <!--<a target="_blank" href="javascript:void(0)" class="mobile-app__btn"><img src="/assets/svg/btn-google.svg" alt="get app from Google Play"></a>-->
    <!--<a target="_blank" href="javascript:void(0)" class="mobile-app__btn"><img src="/assets/svg/btn-apple.svg" alt="get app from App Store"></a>-->
    <!--</div>-->
</div>
