<div class="panel">
    <div class="panel__header">
        <h2 class="panel__title">Close Account</h2>
    </div>
    <div class="panel__body form">
        <div class="form__row form__row_fs form__row_mb-more">
            <p class="panel__text">Withdraw funds and close your Skraps Account -
                <span class="panel__text_red">This cannot be undone.</span>
            </p>
        </div>
        <div class="form__row form__row_fs form__row_mb-more">
            <button (click)="onCloseAccount()" type="button" mat-raised-button
                    class="form__btn form__btn_multiple btn btn_blue mat-elevation-z0">Close Account
            </button>
        </div>
    </div>
</div>
