:host(:not(.from-register-page)) {
  display: block;
  width: calc(50% - 10px);
  height: 727px;
}

:host(.from-register-page) {
  display: block;
  width: 100%;
}

.field-system {
  width: 100%;
}

@media screen and (max-width: 991px) {
  :host(:not(.from-register-page)) {
    width: 100%;
    height: auto;
  }
}
