<form class="panel" [formGroup]="form" *ngIf="form">
    <div class="panel__header">
        <h2 class="panel__title">Change Password</h2>
        <a href="javascript:void(0)" (click)="dialogRef.close()" class="panel__close">
            <mat-icon class="icon-small" [fontSet]="'skraps-icons'" [fontIcon]="'icon-cross'"></mat-icon>
        </a>
    </div>
    <div class="panel__body panel__body_single form">
        <div class="form__row">
            <mat-form-field [appearance]="'standard'">
                <mat-label>Old Password</mat-label>
                <input type="password" autocomplete="off" matInput [formControlName]="'current_password'"
                       [errorStateMatcher]="matcher">
                <mat-error *ngIf="form.get('current_password').hasError('required')">
                    Old password is required
                </mat-error>
                <!-- <mat-error *ngIf="form.get('current_password').hasError('required') || form.get('current_password').hasError('pattern') || form.get('current_password').hasError('minlength')">
                  Minimum 8 characters, at least one small and large letters, a digit and one of the characters ($, @, #, !, %, *, ?, &)
                </mat-error> -->
            </mat-form-field>
        </div>
        <div class="form__row">
            <mat-form-field [appearance]="'standard'">
                <mat-label>New Password</mat-label>
                <input type="password" autocomplete="off" matInput [formControlName]="'password'"
                       [errorStateMatcher]="matcher">
                <mat-error
                        *ngIf="form.get('password').hasError('required') || form.get('password').hasError('pattern') || form.get('password').hasError('minlength')">
                    Minimum 8 characters, at least one small and large letters, a digit and one of the characters ($, @,
                    #, !, %, *, ?, &)
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form__row">
            <mat-form-field [appearance]="'standard'">
                <mat-label>Confirm New Password</mat-label>
                <input type="password" autocomplete="off" matInput [formControlName]="'password_confirmation'"
                       [errorStateMatcher]="matcher">
                <mat-error *ngIf="form.get('password_confirmation').hasError('notEqual')">
                    Passwords do not match
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="panel__body panel__body_single panel__body_gray form" *ngIf="isTFA">
        <div class="form__row">
            <h3 class="panel__title">Enter the 2 Step Authentication code sent to your mobile</h3>
        </div>
        <div class="form__row">
            <mat-form-field [appearance]="'standard'">
                <mat-label>Verification Code</mat-label>
                <input autocomplete="off" matInput [formControlName]="'code'" [errorStateMatcher]="matcher">
                <mat-error *ngIf="form.get('code').hasError('required')">
                    Code is required
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="panel__footer">
        <button mat-raised-button [color]="'accent'" [mat-dialog-close]="form" cdkFocusInitial
                class="btn mat-elevation-z0" [disabled]="form.invalid">Change Password
        </button>
    </div>
</form>
