:host {
  display: block;
  width: 100%;
  position: relative;
}

.list {
  // position: absolute;
  // left: 0;
  // right: 0;
  // top: -100%;
  // bottom: -100%;
  // overflow: auto;
  // padding: 32px;
  // border-radius: 12px;
  // border: 1px solid #dfdfdf;
  // background-color: #ffffff;
}
