.filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.portfolio-page .panel {
  border-top-left-radius: 0;
}

.recent-activity-empty {
  margin: 50px auto;
  text-align: center;

  &__img {
    margin-bottom: 30px;
  }
}
