.hidden-input {
  height: 0px;
  width: 0px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  bottom: 0;
}

:host {
  display: block;
  width: 100%;
}

.panel__item-action {
  position: relative;
}
