<nav mat-tab-nav-bar [disableRipple]="true" [color]="'accent'" class="main-menu">
    <ng-template ngFor [ngForOf]="links" let-item>
        <a *ngIf="!isOut(item.link); else out" mat-tab-link [active]="item.link === activeUrl" [routerLink]="item.link">
            <mat-icon inline="true" fontSet="skraps-icons" fontIcon="icon-{{item.icon}}"></mat-icon>
            {{ item.hint }}
        </a>
        <ng-template #out>
            <a mat-tab-link [active]="item.link === activeUrl" target="_blank" [href]="item.link">
                <mat-icon inline="true" fontSet="skraps-icons" fontIcon="icon-{{item.icon}}"></mat-icon>
                {{ item.hint }}
            </a>
        </ng-template>
    </ng-template>
</nav>
