<ngx-charts-line-chart hideXAxisTicks class="chart-container" [scheme]="colorScheme" [results]="results"
                       [legend]="showLegend"
                       [xAxis]="showXAxis" [yAxis]="showYAxis" [yAxisTicks]="yAxisTicks" [roundDomains]="roundDomains"
                       [curve]="curve" [yAxisTickFormatting]="yAxisTickFormatting"
                       [xScaleMin]="xScaleMin" [xScaleMax]="xScaleMax" [yScaleMin]="yScaleMin" [yScaleMax]="yScaleMax"
                       [autoScale]="autoScale">
</ngx-charts-line-chart>

<!--  (legendLabelClick)="onLegendLabelClick($event)"
  [timeline]="timeline" [showGridLines]="showGridLines"  [rangeFillOpacity]="rangeFillOpacity"
 [tooltipDisabled]="tooltipDisabled" (select)="select($event)" -->
