<div class="panel">
    <div class="panel__header">
        <h2 class="panel__title">Manage Cards</h2>
    </div>
    <div class="panel__body form">
        <div class="panel__cards">
            <div class="form__row panel__cards-item">
                <div class="panel__cards-title">**** **** **** 3478</div>
                <div class="panel__cards-text">Billing Address: Street Name, City, State, Postal Code</div>
            </div>
            <div class="form__row form__row_mb-more">
                <button type="button" mat-raised-button
                        class="form__btn form__btn_multiple btn btn_blue mat-elevation-z0">Cancel Card
                </button>
                <button type="button" mat-raised-button
                        class="form__btn form__btn_multiple btn btn_gray mat-elevation-z0">Freeze Card
                </button>
            </div>
        </div>
        <div class="form__row form__row_mb-more">
            <button type="button" color="accent" mat-raised-button class="form__btn btn mat-elevation-z0">Add Card
            </button>
        </div>
    </div>
</div>
