$accent: #eb003e;
$active: #1dc5bf;
$primary: #183e7a;
$gray: #4c4b61;
$gray-light: #d3dfef;
$gray-medium: #6f6e8d;
$green: #008a41;

// start icomoon

$icomoon-font-family: 'skraps-icons' !default;
$icomoon-font-path: '/assets/fonts' !default;

$icon-fire: '\e915';
$icon-share: '\e916';
$icon-link: '\e914';
$icon-coins: '\e913';
$icon-arrow: '\e903';
$icon-arrow-down: '\e904';
$icon-past: '\e90f';
$icon-potential: '\e910';
$icon-settings: '\e900';
$icon-cross: '\e901';
$icon-diamond: '\e902';
$icon-performance: '\e905';
$icon-round-ups: '\e906';
$icon-leaderboard: '\e907';
$icon-messages: '\e908';
$icon-news: '\e909';
$icon-home: '\e90a';
$icon-lock: '\e90b';
$icon-support: '\e90c';
$icon-wallet: '\e90d';
$icon-link-icon: '\e90e';
$icon-simple-arrow: '\e911';
$icon-search: '\e912';
$icon-triangle: '\e918';
$icon-pencil: '\e917';
$icon-write: '\e917';
$icon-edit: '\e917';

// end icomoon
